@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-forum);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-caudex);
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  /* Force reload */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-forum), Georgia, 'Times New Roman', serif;
  font-size: 18px;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem 0 !important;
  font-family: var(--font-caudex), Georgia, 'Times New Roman', serif;
  font-size: 40px;
  font-weight: 400;
}

.subtitle {
  font-size: 30px !important;
}

p {
  margin: 0 0 1rem 0 !important;
}

p:last-child {
  margin-bottom: 0 !important;
}

button {
  cursor: pointer;
}

input,
textarea {
  font-family: inherit;
}
